.container {
  width: 1900px;
  height: 700px;
  margin-left: 30px;
  position: relative;
}
.left {
  width: 500px;
  height: 250px;
  background-color: rgb(202, 164, 164);
  display: inline-block;
  margin-left: 20px;
  display: inline-block;
  border-radius: 7px;
  color: rgb(41, 44, 42);
}
.mid {
  width: 500px;
  height: 250px;
  background-color: rgb(202, 164, 164);
  display: inline-block;
  margin-left: 40px;
  margin-top: 100px;
  border-radius: 7px;
  color: rgb(41, 44, 42);
}
.right {
  width: 500px;
  height: 250px;
  background-color: rgb(202, 164, 164);
  position: absolute;
  top: 285px;
  right: 280px;
  border-radius: 7px;
  color: rgb(41, 44, 42);
}
.left-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 30px;
  display: inline-block;
}
h3 {
  display: inline-block;
}
h2 {
  margin-left: 10px;
}
h4 {
  margin-bottom: 0px;
  margin-left: 30px;
  color: rgb(111, 111, 226);
}
h6 {
  margin-left: 720px;
  font-size: 20px;
  margin-bottom: 0px;
  color: rgb(58, 35, 35);
  margin-top: 90px;
}
h1 {
  margin-left: 550px;
  margin-top: 15px;
  color: rgb(58, 35, 35);
}
