.card {
  background-color: red;
  width: 500px;
  height: 460px;
  border: 1px solid black;
}
.cardimage {
}
.cardsubtitle {
  color: plum;
  font-size: 25px;
}
.cardtitle {
  color: red;
  font-size: 40px;
}
