body {
  margin: 0%;
  margin-top: -20px;
}
.firstpage {
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: white;
}

.middle {
  width: 50%;
  height: 100%;
  margin-right: 300px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(63, 59, 59);
  cursor: pointer;
}
li:hover {
  border-bottom: 2px solid red;
  color: black;
}
.booktable {
  width: 150px;
  height: 40px;
  background-color: red;
  border-radius: 40px;
  border: none;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.main {
  width: 100%;
  height: 600px;
  background-color: rgba(247, 245, 243, 0.781);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.logoplate {
  width: 550px;
}
.logo {
  margin-right: 30px;
}
.textmid {
  font-family: "Amatic SC", cursive;
  font-size: 65px;
  margin-bottom: 0%;
}
.Bookatable {
  width: 150px;
  height: 40px;
  background-color: red;
  border-radius: 40px;
  border: none;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.video {
  width: 150px;
  background-color: rgba(247, 245, 243, 0.781);
  border-radius: 40px;
  color: rgb(12, 11, 11);
  margin-top: 10px;
  cursor: pointer;
  border: none;
}
.secondpage {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid rgba(247, 245, 243, 0.781);
  display: flex;
  border-bottom: 1px solid rgba(247, 245, 243, 0.781);
}
.left2 {
  width: 60%;
  height: 70vh;
}
.right2 {
  width: 40%;
  height: 70vh;
  position: relative;
}
.leftwallpaper {
  width: 80%;
  height: 100%;
  position: relative;
  margin-left: 200px;
}
.navleft {
  margin-left: 70%;
  margin-top: 0%;
}
.bookphone {
  width: 500px;
  height: 150px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1500px;
  left: 300px;
}
.aboutus {
  font-family: "Amatic SC", cursive;
  font-size: 35px;
}
.righttop {
  width: 300px;
  height: 7000px;
  position: absolute;
  top: 90px;
  right: 400px;
}
.rightbotpicture {
  width: 403px;
  height: 320px;
  position: absolute;
  top: 480px;
  right: 300px;
}
h3 {
  font-weight: 300;
}

.thirdpage {
  width: 100%;
  height: 100vh;
  background-color: red;
  background-image: url("https://1.bp.blogspot.com/-makPCRDjnMo/YEiFbjTrrFI/AAAAAAAABqw/4U47SrZJq1M4vwEbxGI6_7wfoQftg1-mwCLcBGAsYHQ/s750/zzz.jpg");
}

.cardcontainter {
  width: 100%;
  height: 60vh;
  background-color: rgba(247, 245, 243, 0.993);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 300px;
}

.whychoose {
  width: 350px;
  height: 420px;
  background-color: red;
  padding-left: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  color: white;
}
.Corporis {
  width: 250px;
  height: 300px;
  background-color: white;
  padding-left: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
.Ullamco {
  width: 250px;
  height: 300px;
  background-color: white;
  padding-left: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
.Labore {
  width: 250px;
  height: 300px;
  background-color: white;
  padding-left: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
.learnmore {
  width: 200px;
  height: 40px;
  background-color: rgba(236, 88, 88, 0.863);
  color: white;
  margin-left: 70px;
  margin-top: 70px;
  border: none;
  border-radius: 50px;
  font-weight: 800;
}
.fourthpage {
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menulist {
  width: 500px;
  height: 70px;
  margin-bottom: 5px;
}
.ourmenu {
  margin-bottom: 0%;
}
.checkmenu {
  margin-bottom: 0%;
  margin-top: 0px;
}
.menupictures {
  width: 70%;
  height: 750px;
  background-color: yellow;
}
.MagnamTiste {
  width: 300px;
  height: 300px;
  background-color: pink;
}
.magnam {
  width: 100px;
  height: 100px;
}
