.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.start {
  width: 350px;
  height: 450px;
  border: 2px solid rgb(179, 164, 164);
  border-radius: 8px;
}
.start:hover {
  width: 350px;
  height: 450px;
  border: 2px solid rgb(179, 164, 164);
  border-radius: 8px;
  box-shadow: 3px 3px 3px aqua;
  background-color: aqua;
}
.pro {
  width: 350px;
  height: 450px;
  border: 2px solid rgb(144, 144, 252);
  border-radius: 8px;
}
.pro:hover {
  width: 350px;
  height: 450px;
  border: 2px solid rgb(144, 144, 252);
  border-radius: 8px;
  box-shadow: 4px 4px 4px aqua;
  background-color: aqua;

}
.business {
  width: 350px;
  height: 450px;
  border: 2px solid rgb(179, 164, 164);
  border-radius: 8px;
}
.business:hover {
  width: 350px;
  height: 450px;
  border: 2px solid rgb(179, 164, 164);
  border-radius: 8px;
  box-shadow: 4px 4px 3px aqua;
  background-color: aqua;
}
.special {
  width: 350px;
  height: 450px;
  border: 2px solid rgb(179, 164, 164);
  border-radius: 8px;
}
.special:hover {
  width: 350px;
  height: 450px;
  border: 2px solid rgb(179, 164, 164);
  border-radius: 8px;
  box-shadow: 4px 4px  aqua;
  background-color: aqua;

}
h1 {
  border-bottom: 1px solid grey;
  margin-left: 20px;
  font-size: 43px;
  margin-right: 20px;
  
}
h5 {
  margin-left: 20px;
  padding-left: 5px;
}
h4 {
  margin-left: 20px;
}
button {
  width: 270px;
  height: 40px;
  margin-left: 20px;
  border-radius: 3px;
  cursor: pointer;
  background-color: grey;
  color: white;
  border: none;
}
button:hover {
  width: 270px;
  height: 40px;
  margin-left: 20px;
  border-radius: 3px;
  cursor: pointer;
  background-color: grey;
  color: white;
  border: none;
  background-color: blue;
}
.naslov {
  border: none;
  margin-left: 800px;
  margin-top: 100px;
}
.podnaslov {
  margin-left: 660px;
  margin-top: 30px;
  color: grey;
}
.leftbutton {
  margin-left: 800px;
  margin-top: 35px;
  width: 100px;
  height: 40px;
  background-color: blue;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}
 
.rightbutton {
  margin-left: -3px;
  width: 100px;
  height: 40px;
  background-color: white;
  color: blue;
  border: blue;
  bordred border-radius: 4px;
  cursor: pointer;
}
p {
  margin: 10px;
}
.bussinesbutton{
  width: 250px;
  height: 40px;
  margin-left: 20px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(144, 144, 252);
  color: white;
  border: none;
}