body {
  width: 40vh;
  height: 60%;
  margin-top: 300px;
  margin-left: 750px;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,199,253,1) 50%, rgba(252,176,69,1) 100%);
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ;
  font-family: 'Indie Flower', cursive;
  
  
}
.game-div {
  width: 32%;
  padding-bottom: 18%;
  margin-bottom: 2%;
  background-color: red;
  text-align: center;
  padding-top: 30px;
  font-weight: 900;
  font-size: 40px;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#restart {
  width: 220px;
  height: 40px;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px;
  border: none;
  background-color: blanchedalmond;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
}
  

