body {
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.card {
  width: 40%;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.map {
  width: 40%;
  height: 600px;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 20px;
  height: 600px;
  width: 400px;
}

input {
  width: 385px;
  height: 30px;
  border-radius: 3px;
}
