body {
  margin: 0%;
}
.container {
  width: 100%;
  height: 12vh;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.midle {
  width: 1000px;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: space-around;
}
.search {
  width: 200px;
  height: 100%;
  background-color: pink;
}
.droplist {
  width: 100%;
  height: 500px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 12vh;
  left: 0;
  display: none;
}
button:hover .droplist {
  display: block;
}
