.container {
  width: 80vw;
  height: 80vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  text-align: center;
}
.header {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.nav {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 6;
}
.article {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
}
.ads {
  background-color: yellow;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}
.footer {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}
