.header {
  width: 1900px;
  height: 100px;
  border: 1px solid: rgb(49, 43, 43);
  background-color: aqua ;
  position: relative;
}
.places {
  color: black;
  position:absolute;
  top: 20px;
  left: 200px;
  text-shadow: 2px 2px #51a1e2;
}
.things {
  color: black;
  position: absolute;
  top: 20px;
  left: 450px;
  text-shadow: 2px 2px #51a1e2;
}
.holiday {
  color: black;
  position: absolute;
  top: 20px;
  left: 700px;
  text-shadow: 2px 2px #51a1e2;
}
.rent {
  color: black;
  position: absolute;
  top: 20px;
  left: 1050px;
  text-shadow: 2px 2px #51a1e2;

}
.boat {
  color: black;
  position: absolute;
  top: 20px;
  left: 1350px;
  text-shadow: 2px 2px #51a1e2;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: aqua;
}
.slika {
  width: 1900px;
  height: 800px;
  position: relative;

}
 
.text {
  color: black;
  position: absolute;
  top: 300px;
  left: 850px;
  text-shadow: 2px 2px #f1ecec;
}
.descript {
  color: black;
  position: absolute;
  top: 350px;
  left: 650px ;
  text-shadow: 2px 2px #f1ecec;
}

.button {
  width: 100px;
  height: 60px;
  background-color: aqua;
  color: black;
  border-radius: 9px;
  position: absolute;
  left: 850px;
  top: 420px;
  border: 0px;
  cursor: pointer;
  box-shadow: 2px 2px #f1ecec;
}
body {
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgba(255,0,255,0.8);
  animation: spin 16s infinite linear;
  mix-blend-mode: multiply;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  box-shadow: inset 0 0 10vw rgba(255,255,0,0.8);
  animation: spin 13s infinite linear;
}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  box-shadow: inset 0 0 10vw rgba(0,255,255,0.8);
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}