table {
  width: 50vw;
  height: 40vh;

  border-radius: 5px;
  border-collapse: collapse;
  font-weight: 800;
  border: 1px solid green;
  overflow: hidden;
}

td {
  border-bottom: solid 3px gray;
  text-align: center;
}
th {
  background-color: rgba(9, 94, 9, 0.719);
  border: rgba(9, 94, 9, 0.719);
  border-radius: 3px;
  font-weight: 700;
  font-size: 24px;
  color: white;
}
.sally {
  color: green;
  background-color: rgba(194, 166, 166, 0.562);
  font-weight: 900;
}
